@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Newsreader:ital,wght@0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #23422a;
  --background: #fbf9f4;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #fbf9f4;
  color: #1b1c19;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, .font-headline {
  font-family: 'Newsreader', serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f0eee9; 
}
::-webkit-scrollbar-thumb {
  background: #c2c8bf; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #727971; 
}

@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-xl border border-white;
  }
}
